/*The rules for CSS rule cascading are complex -- rather than trying to paraphrase them badly,
I'll simply refer you to the spec:

http://www.w3.org/TR/2011/REC-CSS2-20110607/cascade.html#cascade

In short: more specific rules override more general ones. Specificity is defined based on how many IDs,
classes, and element names are involved, as well as whether the !important declaration was used.
When multiple rules of the same "specificity level" exist, whichever one appears last wins.

. = css class
# = css ID
position: relative; // This is relative to where the element would naturally occur on the page and that is that

*/

/*Testing CSS HTML tags*/
body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}


/*Testing CSS IDs*/
.draggable {

}

#frame {

    background-color: rgba(137, 148, 174, 0.49);
    color: #7795bc;
    position: relative;
    float:left;
    /*width: 835px;*/
    /*height: 615px;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    border: 1px solid navy;
}

#board {

    position: relative;
    /*top: 0px;*/
    /*left: 0px;*/
    float: left;
    /*overflow:hidden;*/

    background-color: #A5CF9F;
    color: #7795bc;

    /*width: 80%;*/
    /*height: 600px;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    border: 1px solid navy;
}

#ui {

    position: relative;
    /*top: 0px;*/
    /*right: -200px;*/
    float: right;

    background-color: #868bd1;
    color: #080a0c;

    /*width: 200px;*/
    /*height: 600px;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    border: 1px solid navy;

}


#title {

    position: relative;
    background-color: #001bff;
}

/*Tile class for the game tiles inside the board div*/
.tile {

    background-color: #23d13d;
    color: #001bff;
    /*position: absolute;*/

    /*top: 0px;*/
    /*left: 0px;*/

    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    border: 1px solid navy;

}

#debugWindow {

    position: relative;
    /*top: 0px;*/
    /*right: -200px;*/
    float: right;

    background-color: #8cd1cb;
    color: #080a0c;

    /*width: 200px;*/
    /*height: 600px;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    border: 1px solid navy;

}

#boardSize {

    position: relative;
    /*top: 0px;*/
    /*right: -200px;*/
    float: left;

    background-color: #8cd1cb;
    color: #080a0c;

    /*width: 200px;*/
    /*height: 600px;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    border: 1px solid navy;

}

#levelCreation {
    position: relative;
    /*top: 0px;*/
    /*right: -200px;*/
    float: left;

    background-color: #8cd1cb;
    color: #080a0c;

    /*width: 200px;*/
    /*height: 600px;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    border: 1px solid navy;

}

.floatClear {

    width: 0px;
    height: 0px;

}